.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height:100%;
	background-color: black;
	z-index:1001;
	opacity:.70;
}
.white_content {
	display: none;
	position: absolute;
	top: 15%;
	left: 25%;
	width: 50%;
	height: 60%;
	border: 5px solid #837F7F;
	background-color: white;
	z-index:1002;
	overflow: auto;
	
}
#lightbox_close{
        position:absolute;
	top:0px;
	left:96%;
	background:#837F7F;
	width:3%;
	padding:2px 2px 2px 2px;
}